.body {
    background-color: #dadbd3;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.text > h1 {
    font-size: 23px;
    padding-bottom: 15px;
    font-weight: bold;
}
