.body {
    background-color: #dadbd3;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    padding-top: 50px;
    padding-bottom: 500px;
    font-size: 25px;
    font-weight: bold;
}

.import {
    margin: 100;
    padding-bottom: 15px;

}

.login_container {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}


.image {
    object-fit: contain;
    height: 170px;
    margin-bottom: 30px;
}

.login_container > Button {
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}

.incorrect-user {
    color: red;
}

.import > h1 {
    font-size: 23px;
    padding-bottom: 15px;
    font-weight: bold;
}

Input::placeholder {
    text-align: center;
}
