.btn-primary {
  background: #2e3942;
  transition:all .3s ease-in-out
}
.btn-primary:hover {
  background: black;
}

/* Messages Styles */
.message {
  color: #2d3748;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  clear: both;
}

/* .outgoing {
  float: right;
  background-color: #ebf8ff;
}

.incoming {
  float: left;
  background-color: #bee3f8;
} */

.last-message {
  white-space: nowrap; 
  width: auto; 
  overflow: hidden;
  text-overflow: ellipsis; 
  color: black;
}

/* .input-box {
  border-top: 1px solid;
  border-top-color: rgb(202, 202, 202);
} */

.user {
    filter: none; 
    transition: all .5s ease-in-out;  
  }

.user:hover {
    filter: gray;
    transform: scale(1.01);
    cursor: pointer;
  }

.send-button:hover {
    cursor: pointer;
    transform: scale(1.30);
    transition: all .5s ease-in-out;  

  }
.contact-box{
  background-color: white;
}
.contact-name{
  color: black;
}
.user-bar{
  background-color: #075E54;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
.contact-name{
  color: white;
  font-family: 'Open Sans', sans-serif!important;
  letter-spacing: .1px;
  font-style: normal;
}
.contact-menu{
  color:black;
}
.message-area{
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: solid;
}
/* .contact-box {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
} */